In [1]:
import pandas as pd
import numpy as np

In [ ]:
제가 살고있는 동네인 용인시 버스정류장에 대한 데이터 입니다
이 데이터로 용인시에 있는 버스정류장의 유형과 정류장종류 등을 알아보고
갯수가 많은 지역을 몇개만 뽑아서 그래프로 표현
제가 이사하기전 동네인 상하동과 현재살고있는 동네인 성복동의 정류장을 여러가지로 비교하고

In [80]:
bus = pd.read_csv('data/bus.csv',encoding='cp949')
bus.head()

  지형지물      관리번호 관리기관  법정동      지번 정류장종류      위치 정류장유형           X           Y
0  정류장  83000001  용인시  공세동   717 도  마을버스     미지정  지붕설치  210537.479  415994.881
1  정류장  84000001  용인시  공세동   717 도  마을버스     미지정  지붕설치  210793.879  416207.872
2  정류장  85000001  용인시  공세동   717 도  마을버스     미지정  지붕설치  209657.840  415557.868
3  정류장  91281001  용인시  고기동  244-3도  마을버스    바다목장  표지설치  204626.268  428727.451
4  정류장  91282001  용인시  고기동    755천  마을버스  고기3리입구  표지설치  204888.481  428943.695

In [5]:
#행과 열의 수입니다
bus.shape

(1524, 10)

In [7]:
#info를 통해 더많은 정보를 얻어줍니다
bus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1524 entries, 0 to 1523
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지형지물    1524 non-null   object
 1   관리번호    1524 non-null   int64
 2   관리기관    1524 non-null   object
 3   법정동     1524 non-null   object
 4   지번      1524 non-null   object
 5   정류장종류   1524 non-null   object
 6   위치      1524 non-null   object
 7   정류장유형   1524 non-null   object
 8   X       1524 non-null   float64
 9   Y       1524 non-null   float64
dtypes: float64(2), int64(1), object(7)
memory usage: 119.2+ KB

In [28]:
#기술통계량 구하기
bus.describe()

               관리번호              X              Y
count  1.524000e+03    1524.000000    1524.000000
mean   1.346800e+08  214655.934083  418048.281801
std    4.430982e+07    7550.055604    6875.996457
min    8.300000e+07  202977.184000  398641.214000
25%    9.232523e+07  208882.195750  414862.384000
50%    1.305060e+08  211709.527500  419143.165000
75%    2.011100e+08  219387.243750  423943.378250
max    2.015401e+08  236849.142000  429165.512000

In [30]:
#문자열에 대한 통계
bus.describe(include=['object']).T

      count unique    top  freq
지형지물   1524      1    정류장  1524
관리기관   1524      1    용인시  1524
법정동    1524    102   풍덕천동    90
지번     1524   1108  1045도    15
정류장종류  1524      8   일반버스   924
위치     1524    751          390
정류장유형  1524      4   지붕설치   958

In [ ]:
기술통계를 통해서 데이터형식변환으로 메모리를 줄여줍니다

In [31]:
#na값 확인
bus.isnull().sum()

지형지물     0
관리번호     0
관리기관     0
법정동      0
지번       0
정류장종류    0
위치       0
정류장유형    0
X        0
Y        0
dtype: int64

In [70]:
bus['관리번호']=bus['관리번호'].astype(np.int32)

In [85]:
bus['X']=bus['X'].astype(np.float32)
bus['Y']=bus['Y'].astype(np.float32)

In [89]:
#고유값이 적은걸 확인해준다
bus.select_dtypes(include=['object']).nunique()

지형지물        1
관리기관        1
법정동       102
지번       1108
정류장종류       8
위치        751
정류장유형       4
dtype: int64

In [93]:
bus['지형지물'] = bus['지형지물'].astype('category')
bus['관리기관'] = bus['관리기관'].astype('category')
bus['정류장종류'] = bus['정류장종류'].astype('category')
bus['정류장유형'] = bus['정류장유형'].astype('category')
bus['법정동'] = bus['법정동'].astype('category')

In [94]:
#데이터가 120kb 에서 60kb로 줄어들었다
bus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1524 entries, 0 to 1523
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지형지물    1524 non-null   category
 1   관리번호    1524 non-null   int64
 2   관리기관    1524 non-null   category
 3   법정동     1524 non-null   category
 4   지번      1524 non-null   object
 5   정류장종류   1524 non-null   category
 6   위치      1524 non-null   object
 7   정류장유형   1524 non-null   category
 8   X       1524 non-null   float32
 9   Y       1524 non-null   float32
dtypes: category(5), float32(2), int64(1), object(2)
memory usage: 61.7+ KB

In [14]:
bus.법정동.value_counts()

풍덕천동    90
죽전동     77
영덕동     54
신갈동     54
동천동     47
        ..
학일리      1
정수리      1
문촌리      1
호동       1
석천리      1
Name: 법정동, Length: 102, dtype: int64

In [19]:
법정동=bus['법정동']
법정동

0       공세동
1       공세동
2       공세동
3       고기동
4       고기동
       ...
1519    아곡리
1520    완장리
1521    완장리
1522    완장리
1523    어비리
Name: 법정동, Length: 1524, dtype: object

In [27]:
asd=법정동.isin(['성복동'])
법정동[asd]

103     성복동
104     성복동
105     성복동
106     성복동
107     성복동
108     성복동
109     성복동
110     성복동
111     성복동
113     성복동
114     성복동
115     성복동
116     성복동
131     성복동
132     성복동
133     성복동
134     성복동
135     성복동
136     성복동
138     성복동
1303    성복동
1304    성복동
1305    성복동
1306    성복동
1349    성복동
1350    성복동
1351    성복동
1352    성복동
1353    성복동
1354    성복동
1355    성복동
1411    성복동
1412    성복동
1413    성복동
1414    성복동
1415    성복동
1416    성복동
1427    성복동
1428    성복동
1473    성복동
Name: 법정동, dtype: object